<!-- must be child of grid_default -->
<aside class="callout-row is_full-width">
	<span>Related</span>
	<div class="callout first-of-3">
		<img src="{{page.first-of-3_image}}">
		<span>{{page.first-of-3_title}}</span>
		<p>{{page.first-of-3_intro}}</p>
	</div>
	<div class="callout second-of-3">
		<img src="{{pages.second-of-3_image">
		<span>{{page.second-of-3_title}}</span>
		<p>{{page.second-of-3_intro}}</p>
	</div>
	<div class="callout third-of-3">
		<img src="{{page.third-of-3_image">
		<span>{{page.third-of-3_title}}</span>
		<p>{{page.third-of-3_intro}}</p>
	</div>
</aside>