<!-- must be child of grid_default -->
<aside class="callout-row">
	<span>Related</span>
	<div> class="callout 1-of-3">
		<img src="{{page.1-of-3_image}}">
		<span>{{page.1-of-3_title}}</span>
		<p>{{page.1-of-3_intro}}</p>
	</div>
	<div class="callout 2-of-3">
		<img src="{{page.2-of-3_image">
		<span>{{page.2-of-3_title}}</span>
		<p>{{page.2-of-3_intro}}</p>
	</div>
	<div class="callout 3-of-3">
		<img src="{{page.3-of-3_image">
		<span>{{page.3-of-3_title}}</span>
		<p>{{page.3-of-3_intro}}</p>
	</div>
</aside>