  <nav id="navbar">
    <div class="navbar__dropdown-bg"></div>
    <figure class="navbar__logo-wrapper">
     <a href="#">
        <img class="navbar__logo" src="/assets/emcog_white.png" alt="M4C logo">
      </a>
    </figure>
    <ul class="navbar__items">
      <li class="navbar__item navbar__top-item">
          <a href="#">
            <span>Manifesto</span>
          </a>
      </li>
      <li class="navbar__item navbar__top-item">
        <a href="#">
          <span>Workshops & trainings</span>
        </a>
        <ul class="navbar__dropdown-menu navbar__items">
          <li class="navbar__item">
            <span class="mboe">MBOE</span>
            <a href="#"></a>
          </li>
          <li class="navbar__item">
            <span>Yoga Changemakers</span>
            <a href="#"></a>
          </li>
          <li class="navbar__item">
            <span>Mindfulness and Inclusion</span>
            <a href="#"></a>
          </li>
          <li class="navbar__item">
            <span>Conscious Organisations</span>
            <a href="#"></a>
          </li>
          <li class="navbar__item">
            <span>Mindfulness and the Community</span>
            <a href="#"></a>
            </li>                    
        </ul>
      </li>
      <li class="navbar__item navbar__top-item">
        <a href="#"><span>Better distractions</span></a>
        <ul class="navbar__dropdown-menu navbar__items">
          <li class="navbar__item">
            <span class="btn btn-filter">Read</span>
          </li>
          <li class="navbar__item">
            <span class="btn btn-filter">Listen</span>
          </li>
          <li class="navbar__item">
            <span class="btn btn-filter">Watch</span>
          </li>
        </li>
        </ul>
      </li>
      <li class="navbar__item navbar__top-item">
        <a href="#"><span>About</span></a>
        <ul class="navbar__dropdown-menu navbar__items">
          <li class="navbar__item">
            <span>People</span>
          </li>
          <li class="navbar__item">
            <span>Organisation</span>
          </li>
          <li class="navbar__item">
            <span>Intention</span>
          </li>
        </ul>
      </li>
      <li class="navbar__item navbar__top-item">
        <a href="#"><span>Wiki</span></a>
        <ul class="navbar__dropdown-menu navbar__items">
          <li class="navbar__item">
            <span>Modern history of mindfulness</span>
          </li>
          <li class="navbar__item">
            <span>
              Stages of mindfulness meditation
            </span>
          </li>
          <li class="navbar__item">
            <span>Defintions</span>
          </li>
        </ul>
      </li>
      <li class="navbar__item navbar__top-item btn btn-cta ">
        <a href="#">Free mindfulness ecourse</a>
        <ul class="navbar__dropdown-menu navbar__items">
          <li class="navbar__item"><span>Introduction</span></li>
          <li class="navbar__item"><span>Name of week one</span></li>
          <li class="navbar__item"><span>Name of week two</span></li>
          <li class="navbar__item"><span>Name of week three</span></li>
          <li class="navbar__item"><span>Name of week four</span></li>
          <li class="navbar__item"><span>Name of week five</span></li>
          <li class="navbar__item"><span>Name of week six</span></li>
        </ul>
      </li>
    </ul>
  </nav>
  


<!-- to do move js files -->
<script>
const navbar =  document.querySelector('#navbar'); 
// select top level of nav
const tabs = document.querySelectorAll('.navbar__item.navbar__top-item');
// select 2nd level of nav
const dropdownMenu = document.querySelector('.navbar__dropdown-menu');
const background =  document.querySelector('.navbar__dropdown-bg');

// Get the absolute position of Nav elements
const coordsDropdownMenu = dropdownMenu.getBoundingClientRect();
const coordsNav = navbar.getBoundingClientRect();
// const coordsBG = background.getBoundingClientRect();

const coordsBg = {
   height: coordsDropdownMenu.height,  
   top: coordsNav.height
 };



//Display correct content for li element clicked, disactivate active tab when active tab clicked. When active show background to nav.
function tabClick() {
  //refactor using arrow functions
if(this.classList.contains('tab_is-active')) {
  //dropdown close
  // this.classList.remove('tab-enter', 'is_tab-enter_active');
  this.classList.remove('tab_is-active');
  background.classList.remove('navbar__dropdown-bg_is-open');
  navbar.classList.remove('navbar_is-open');
} else {
  //dropdown open
  let i;
  for (i = 0; i < tabs.length; i++) {
    tabs[i].classList.remove('tab_is-active');
    this.classList.add('tab_is-active');
    background.classList.add('navbar__dropdown-bg_is-open');
    navbar.classList.add('navbar_is-open');
  }
};
}

//Correctly position nav background
window.onload = function() {
  background.style.setProperty('transform', `translateY(${coordsBg.top}px)`);
}
//Create buttons
tabs.forEach(tab => tab.addEventListener('mousedown', tabClick));

</script>