	<div class="share-blocks">
		<div class="organism__share-block__meme-right">
			<div class="molecule__share-strip">
				<img src="assets/placeholder__btn__social.png" class="atom__social-button">
				<img src="assets/placeholder__btn__social.png" class="atom__social-button">
				<img src="assets/placeholder__btn__social.png" class="atom__social-button">
				<img src="assets/placeholder__btn__social.png" class="atom__social-button">
				<img src="assets/placeholder__btn__social.png" class="atom__social-button">
			</div>
			<div class="quote-n-attribute">
				<h2>
					<q class="atom__hero-quote">I don't be givin'  no man a foot massage</q>
				</h2>
				<div class="atom__attribute">Samuel, L. Jackson. Pulp Fiction.</div>
			</div>
			<p class="share-block_supporting-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita commodi distinctio a itaque impedit, libero debitis. Odio hic cum omnis alias quae unde sapiente fugit pariatur, asperiores nam laborum deserunt.</p>
			<div class="atom__meme"><img src="assets/placeholder__meme.svg"></div>
		</div>
	</div>