<article class="g-12__share-this">
	<ul class="share-this__social-buttons">
		<li><img src="/assets/placeholder_btn-social.png" class="social-button u-responsive-ratio"></li>
		<li><img src="/assets/placeholder_btn-social.png" class="social-button u-responsive-ratio"></li>
		<li><img src="/assets/placeholder_btn-social.png" class="social-button u-responsive-ratio"></li>
		<li><img src="/assets/placeholder_btn-social.png" class="social-button u-responsive-ratio"></li>
		<li><img src="/assets/placeholder_btn-social.png" class="social-button u-responsive-ratio"></li>
	</ul>
	<img src="{{ include.share-image }}" alt="{{ include.share-image-alt }}">
	<a class="share-this__quote-n-attribute" href="{{ include.share-attribute-link }}">
		<q class="is-highlighted">{{ include.share-quote }}</q>
		<br><span>{{ include.share-attribute }}</span>
	</a>
	<p class="share-this__explanation">{{ include.share-attribute-supporting }}</p>
</article>


<!-- update markup with article and section tags -->
	
<!-- ----- all template includes in this:	
	– {{ include.share-image }}
	– {{ include.share-image-alt }}
	– {{ include.share-quote }}
	– {{ include.share-attribute }}
	– {{ include.share-attribute-link }}
	– {{ include.share-supporting }} 
	-->