<div class="share-blocks">
	<div class="share-block_img-left">
		<div class="molecule__share-strip">
			<img src="assets/placeholder__btn__social.png" class="atom__social-button">
			<img src="assets/placeholder__btn__social.png" class="atom__social-button">
			<img src="assets/placeholder__btn__social.png" class="atom__social-button">
			<img src="assets/placeholder__btn__social.png" class="atom__social-button">
			<img src="assets/placeholder__btn__social.png" class="atom__social-button">
		</div>
		<div class="atom__meme"><img src="{{ include.share-image }}" alt="{{ include.share-image-alt }}"></div>
		<div class="quote-n-attribute">
			<h2>
				<q class="atom__hero-quote highlight-text">{{ include.share-quote }}</q>
			</h2>
			<div class="atom__attribute">
				<a href="{{ include.share-attribute-link }}">
				{{ include.share-attribute }}
				</a>
			</div>
		</div>
		<p class="share-block_supporting-text">{{ include.share-attribute-supporting }}</p>
	</div>
</div>

<!-- update markup with figure and figcaption tags -->
	

<!-- ----- all template includes in this:	
	– {{ include.share-image }}
	– {{ include.share-image-alt }}
	– {{ include.share-quote }}
	– {{ include.share-attribute }}
	– {{ include.share-attribute-link }}
	– {{ include.share-supporting }} 
	-->