<div class="share-blocks">
	<div class="share-block_img-left">
		<div class="social-buttons">
			<img src="assets/placeholder__btn__social.png" class="social-button">
			<img src="assets/placeholder__btn__social.png" class="social-button">
			<img src="assets/placeholder__btn__social.png" class="social-button">
			<img src="assets/placeholder__btn__social.png" class="social-button">
			<img src="assets/placeholder__btn__social.png" class="social-button">
		</div>
		<div class="share-image"><img src="assets/placeholder__meme.svg"></div>
		<div class="quote-n-attribute">
			<h2>
				<q class="atom__hero-quote">Normally, both your asses would be dead as fucking fried chicken</q>
			</h2>
			<div class="atom__attribute">Samuel, L. Jackson. Pulp Fiction.</div>
		</div>
		<p class="share-block_supporting-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita commodi distinctio a itaque impedit, libero debitis. Odio hic cum omnis alias quae unde sapiente fugit pariatur, asperiores nam laborum deserunt.</p>
	</div>
</div>