<div class="share-blocks">
	<div class="share-block_img-left">
		<div class="social-buttons">
			<img src="/assets/placeholder_btn-social.png" class="social-button">
			<img src="/assets/placeholder_btn-social.png" class="social-button">
			<img src="/assets/placeholder_btn-social.png" class="social-button">
			<img src="/assets/placeholder_btn-social.png" class="social-button">
			<img src="/assets/placeholder_btn-social.png" class="social-button">
		</div>
		<div class="share-image"><img src="{{ include.share-image }}" alt="{{ include.share-image-alt }}"></div>
		<div class="quote-n-attribute">
			<h2>
				<q class="atom__hero-quote is-highlighted">{{ include.share-quote }}</q>
			</h2>
			<div class="attribute">
				<a href="{{ include.share-attribute-link }}">
				{{ include.share-attribute }}
				</a>
			</div>
		</div>
		<p class="share-block_supporting-text">{{ include.share-attribute-supporting }}</p>
	</div>
</div>

<!-- update markup with figure and figcaption tags -->
	

<!-- ----- all template includes in this:	
	– {{ include.share-image }}
	– {{ include.share-image-alt }}
	– {{ include.share-quote }}
	– {{ include.share-attribute }}
	– {{ include.share-attribute-link }}
	– {{ include.share-supporting }} 
	-->