.banner__header-title {
  margin: -3px 0 0 0; 
  @include font-size-1();
}



.banner__header-folio {
  margin: -3px 0 0 0; 
  font-family: $slab-stack;
  @include font-size-3();
}



.banner__header {
  position: absolute;
  top: 86%;
  grid-column: 3/-1;
  // is calculatd from 12% of 800px which is the width primary column in g-in-depth
  margin-left: $g-in-depth__margin_is-flush;
}



.banner__image {
  // grid-column: 1/-1;
  // display: flex;
  min-height: 100vh;
  position: relative;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}