.header_callout {
	grid-column: -11/-9;
	justify-self: right;
}

.folio {
	font-family: $sans-stack;
	font-size: 12pt;
	color: $monotone;
}

.title_callout-row {
	font-family: $serif-stack;
	font-size: 22pt;
	line-height: 0;
	color: $monotone;
}

.callout > img {
	width: 100%;
	padding-top: 66.66%;
	background-color: $monotone;
}

.callout > span {
	padding: $grid-gap-half;
	font-family: $sans-stack;
	font-size: 18pt;
	color: $monotone;
}

.callout > p {
	padding: 0 $grid-gap-half;
	font-family: $serif-stack;
	font-size: 16pt;
	line-height: 1.24;
	color: $monotone;
}

.first-of-3 {
	grid-column: 5/7;
}

.second-of-3 {
	grid-column: 7/9;
}

.third-of-3 {
	grid-column: 9/11;
}