.callout-row {

}

.callout-row > span {
	grid-column: ;
}

.callout > image {
	height:;
}

.callout > span {
	padding: $grid-gap-half;
	font-family: $sans-stack;
	font-size: 18pt;
	color: monotone;
}

.callout > p {
	font-family: $serif-stack;
	font-size: 18pt;
	color: monotone;
}

.first-of-3 {
	grid-column: ;
}

.second-of-3 {
	grid-column: ;
}

.third-of-3 {
	grid-column: ;
}

