/* restyle to suit mobile
  – tab_is-active
  – navbar__dropdown-bg_is-open
  – navbar_is-open
 */
// .navbar__dropdown-menu_is-active {

// }

.menu_is-active {
  &#navbar {
    margin-bottom: 180px;
  }
  &#navbar__left {
  } 
}




.navbar__logo {
  height: 42px;
  width: 42px;
}



.navbar__logo-wrapper {
  @include media('≤tablet') {margin-left:14px;}
  padding: 0px;
  margin: 0 20px 0 40px;
}



.tab_is-active {
  opacity: 1;
  transition: opacity .6s cubic-bezier(.95,-1.32,0,1.01);
  border-bottom: .5rem solid $monotone;
 
  > span {border-bottom: .5rem solid white;}
 
  > .navbar__dropdown-menu {

      @include media('<desktop') {
        opacity: 1;
        transition: opacity .5s ease 0.12s;
      }

      opacity: 1;
      transition: opacity .6s cubic-bezier(.95,-1.32,0,1.01);
  }
}



.navbar__item {

    @include media("<desktop") {
      margin: 5px 0;
      transition: margin-bottom .35s ease;
   
    }

  font-family: $slab-stack;
  @extend %font-size-3;
  margin: 25px 10px;

  > a {
    text-decoration: none;



  }
}




.navbar__dropdown-item_is-hidden {
  @include media("<desktop") {
   @include visually-hidden;
  }
}



.navbar__top-item {

  @include media("<desktop") {
    margin: 4px 0 0 -1px;
    background-color: aquamarine;
    padding: 5px 96px 5px 0px;
  }

  margin: 10px 15px 0px 15px;

  > a {
    margin: 16px 0 0px 0;
    border-radius: 2px 2px 0px -1px;
    text-decoration: none;
        
    & span {
      height: 1.8rem;
      padding: 0 1px;
            
      &:hover {
        border-bottom: .5rem solid $monotone;

        @include media('≤tablet') {
          border-bottom: none;
        }
      }
    } 
  }
}



#btn-menu {
  @include media("≥desktop") { display: none; }
  @include media('≤tablet') {
    min-width: 88px; 
    margin-right: 12px;
  }
}



#btn-course-mobile {
  @include media("≥tablet")  { display: none; }
}



#btn-course {
  min-width: 227px;
  @include media("≤tablet") { display: none; }
}



#btn{
  &-course-mobile,
  &-menu {
    @include media('≤tablet') {
      font-size: 12pt;
      padding: 12px 18px 11px 18px;
    }
  }
}



.navbar__items {
    flex-direction: row;

  @include media("≤tablet") {
    display: flex;
    flex-direction: column;
  }
}



#navbar__left {
  transition: right ease .6s;

   @include media("<desktop") {
    // display: none;
    visibility: hidden;
  }

  // left align to btn-course
  @include media("≥tablet", "<desktop") {
    position: absolute;
    top: 70px;
    right: -300px;
  }


  // left align to btn-course-mobile
  @include media("≤tablet")  { 
    position: absolute;
    top: 70px;
    right: -300px;
  }
}



#navbar__right {

  @include media ('≤tablet') { margin-right: 16px;}

  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 40px;

  .btn-alone {
    margin-top: -2px;
    @include light-fill;
  
    > a {margin: 0;}
  }
}



.navbar__dropdown-menu {

  @include media('<desktop'){
    padding: 18px 0 0px 15px;
  }

  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 0%;
  right: 0%;
  overflow: hidden;
  margin: 0;
  padding:20px;
  opacity: 0;
}



.navbar__dropdown-bg {
  @include media("<desktop") {
    display: none;
  }

  position: absolute;
  top: 0;
  width:100%;
  height: 0;
  border-radius: 0px;
  transition: height 0.6s;
  background: cadetblue;

  &_is-open {
    height: $navbar__dropdown-bg;
  }
}



.navbar_is-open {
  margin-bottom: $navbar__dropdown-bg;
}



#navbar {
  @include media('≤tablet') { padding: 14px 0px 10px 0px; }

  @include media('≥tablet') {height: 82px;}
  
  display: flex;
  position: relative;
  width: 100vw;
  padding: 21px 0px;
  transition: margin-bottom ease .6s;
}



nav ul {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  display: flex;
}