footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	background: $colour_M4C-wireframe-dark;
}

footer > a {
	padding: 0 2rem 0 2rem;
	color: $colour_M4C-wireframe-light;
}