.g-12 {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: minmax(100px, max-content);
	grid-gap: $grid-gap;
}


 
share-blocks {
	grid-column: 2/-2;
}



.full-height,
.wrapper-signup {
	grid-column: 1/-1;
}



#mc_embed_signup_scroll {
	// grid-column: /-4;
}



#mc_embed_signup {
	// grid-column: 4/-4;
}