.g-in-depth {
	display: grid;
	grid-column: 1/-1;
	grid-gap: $grid-gap;

	article {
		justify-self: end;
	}
	

	@include media('≤phone-plus') {
		grid-template-columns: repeat(12, 1fr);

		article {
			grid-column: 1/-1;
		}

		.is-flush { margin-left: 0; }
		
		.is-proud { 
			float: left;
			margin: 0;
		 }
		
		.is-full-width, 
		%is-full-width { 
			margin: 0;
			width: 100%;

			img {
				width:100%;
			}
		}

		.audio-player {
			margin: 0;
		}
	}


	@include media('≥tablet') {
		grid-template-columns: repeat(2, 1fr ) 800px repeat(4, 1fr);

		article {
			margin: 52px 0 0 0;
			grid-column: 2/4;
		}

		article,
		.section__sub-head {
			grid-column: 3;
			width: 88%;
		}

		.is-flush { margin-left: 0; }
		
		.is-proud { 
			float: left;
			margin: 3px 0 0 -$negative-margin;
		 }
		
		.is-full-width, %is-full-width { 
			margin-left: -$g-in-depth__margin_is-proud;
			width: calc(100% + #{$negative-margin});

			img {
				width:100%;
			}

			figcaption {
				@include in-depth_left();
				@include font-size-4();
			}
		}


		.audio-player {
			// margin: 30px 0px 35px -$g-in-depth__margin_is-proud;
			margin-top: 30px;
			margin-right:0px;
			margin-bottom: 30px;
			margin-left: -$g-in-depth__margin_is-proud;
		}
	}
}



.caption_is-right {
	display: flex;
	// flex-direction: row;
	// align-items: center;

	figcaption {
		float: right;
		align-self: center;
		margin: 0 0 0 22px;
		font-family: $serif-stack;
		line-height: 0.6;
		@extend %font-size-1;
		color: $monotone;
	}

	.caption__attribute {
		font-family: $slab-stack;
		line-height: 0;
		@extend %font-size-2;
	}
}



.caption_is-below {
	figcaption {
  		margin: 0 0 0 0;
  		padding: 8px 0 0 8px;
  		font-family: $serif-stack;
  		@extend %font-size-4;
		color: $monotone;


		.caption__attribute {
			font-family: $slab-stack;
			@extend %font-size-6;
		}
	}
	
}


 
share-blocks {
	grid-column: 2/-2;
}



.full-height,
.wrapper-signup {
	grid-column: 1/-1;
}



#mc_embed_signup_scroll {
	// grid-column: /-4;
}



#mc_embed_signup {
	// grid-column: 4/-4;
}