.g-12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $grid-gap;
}

.share-blocks {
	grid-column: 2/-2;
}

.full-height,
.wrapper-signup {
	grid-column: 1/-1;
}

p,
h1
 {
	grid-column: 4/-4;
}


#mc_embed_signup_scroll {
	// grid-column: /-4;
}

#mc_embed_signup {
	// grid-column: 4/-4;
}
