// Basic typography style for copy text
body {
  font-family: $serif-stack;
  font-size: 16pt;
  line-height: 1.3;
  color: $text-color;
  background-color: white; //todo change this!!!
}


h1,
h2,
h3,
h4,
h5,
h6
  {
    font-family: $font-title-stack;
  }

q
  {
  font-family: $font_quote-highlight_stack;
  }


h2 {
 font-weight: 400;
}



label {
  font-family: $font_body_stack;
}


//was h2 nav – make this conditional based inside button
 .btn {
    margin-top: 0;
    padding-top: .8em;
    
    &-cta {
      @extend .font-size-2;
    }
    
    &-filter{
    }
 }



//share block
.attribute {
  font-family: var(--font3);
  color: var(--monotone);
  font-size: 12pt;
}

.molecule__meme-text > p {
  padding-left: 2rem;
}



.is-highlighted  {
  margin-bottom: 0;   
  color: white;
  background-color: var(--monotone);

  //text hightlight with nice endings
  box-shadow: var(--highlight-pad) 0px var(--monotone), 
  calc(var(--highlight-pad)*-1) 0px var(--monotone);
  border: 1px solid var(--monotone);
  box-decoration-break: clone;
  white-space: pre-wrap;
 }



//todo
 .is-highlighted  {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: white; 
}



// headlines
.font-size-1 {
  font-size: 50pt;
  line-height: 1;
}

// quote blocks, audio player, section titles,
.font-size-2 {
  font-size: 22pt;
  line-height: 1.5;
}

// body copy and primary nav links
.font-size-3 {
  font-size: 16pt;
  line-height: 1.3;
}

// secondary nav links, folio-title
.font-size-4 {
  font-size: 13pt;
  line-height: 1.15;
}

// small stuff, album name
.font-size-5 {
  font-size: 09pt;
  // todo
  // line-height: ;
}


// headlines
@mixin font-size-1 {
  font-size: 50pt;
  line-height: 1;
}

// quote blocks, audio player, section titles,
@mixin font-size-2 {
  font-size: 22pt;
  line-height: 1.5;
}

// body copy and primary nav links
@mixin font-size-3 {
  font-size: 16pt;
  line-height: 1.3;
}

// secondary nav links, folio-title
@mixin font-size-4 {
  font-size: 13pt;
  line-height: 1.15;
}

// small stuff, album name
@mixin font-size-5 {
  font-size: 09pt;
  // todo
  // line-height: ;
}


/* .is-highlighted {
  // _bright-1 {
  color:;
  background:;
  }

  // _bright-2 {
  color:;
  background:;
  }

 ...
 */



p, .body-copy {
  @extend .font-size-3;

  // pargraph before
  margin-top: .25rem;
  // paragraph after
  margin-bottom: 1rem;

   > a {
    border-bottom: 1px solid;
    padding-bottom: .125rem;
    text-decoration: none;
  }

  > a:hover {
    border-bottom: 1px solid;
    padding-bottom: .125rem;
    text-decoration: none;
  }
}


.share-block__meme-quote {
  @extend .is-highlighted;
  @extend .font-size-3;
}

.navbar__item {
  // second level nav
  @extend .font-size-4;
    // first level nav
    &.has-dropdown {
    @extend .font-size-3;
  }
}

.is_first-letter-follows + p::first-letter {
  font-family: $sans-stack;
  font-size: 2rem;
}